body, html
{
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #f6c82c;
	background-color: #000;
	overflow: hidden;
}

.container
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 400%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(350px) rotateX(25deg);
}

.container p
{
	margin: 0.8em 0;
}

.container p.center
{
	text-align: center;
}

.content
{
	position: absolute;
	animation: scroll 80s linear 0s infinite;
	animation-duration: 30s;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}